body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background: url('../images/ocean wave.jpg') no-repeat center center/cover;
    height: 300px;
    position: relative;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}


img.left {
    float: left;
    margin-right: 20px;
}

img.center {
    display: block;
    margin: 0 auto 20px auto;
}

img.right {
    float: right;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
