* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
}

header {
    background: url('../images/oceanwave.jpg') no-repeat center center/cover;
    height: 500px;
    position: relative;
    color: white;
}

header h1 {
    position: relative;
    top: 180px;
    font-size: 40px;
}

h2{
    margin-bottom: 20px;;
}

nav {
    background-color: #643d37;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

nav ul li {
    width: 100%;
    padding: 15px 0;
}

nav ul li:nth-child(2), nav ul li:nth-child(4) {
    background-color: #b6925b;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    }

a {
    text-decoration: none;
}

main {
    padding: 20px 0;
}

canvas {
    margin: 0 auto;
}

.main-content .main-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.main-item img {
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.main-description {
    width: 50%;
}


footer {
    background-color: #643d37;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .form-group {
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: center;
    }
    label, input, textarea {
        display: block;
        margin-bottom: 5px;
        width: 200px;
        margin: 0 auto 10px;
    }

    #email {
        width: 200px;
    }

    textarea {
        width: 200px;
        height: 100px;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
    }

    /* tablet media screen */
/* ranges from 576px to 992px */
@media screen and (max-width: 992px) {
    header {
        height: 400px;
    }
}

/* moble media screen */
/* ranges from 375px to 576px */
@media screen and (max-width: 576px) {
    header {
        height: 350px;
    }
}
